*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:root{
  --bg-color: #2B2A33;
  --color: #42414D;
  --p-color: #9D9CA4;
}

.container-fluid{
  height: 100vh;
  background-color: var(--bg-color);
}

input {
  background-color: var(--color) !important;
  color: white !important;
  border: none !important;
  padding: 14px !important;
}

input::placeholder {
  color: var(--p-color) !important;
}

button{
  background-color: var(--color) !important;
}

.input-group{
  width: 610px !important;
  /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);  */
}

.col-md-2:hover
{
  background-color: #454547;
  cursor: pointer;
  transition: background-color 0.1s ease;
  
 
}